services:
  - type: web
    name: hospital-management-system-api
    env: node
    buildCommand: npm install --omit=dev && npx prisma generate --schema=./schema.prisma
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        sync: false
      - key: DIRECT_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRES_IN
        value: 1d
      - key: CORS_ORIGIN
        value: https://your-frontend-domain.vercel.app # Update this with your Vercel deployment URL